body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #00A8A4;   
}
/* Scroll Bar */
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background: linear-gradient( #4AE8C1 , rgba(255, 255, 255, 0.781) , #4AE8C1);
}
/* ------- */
header{
    height: 85px;
    padding: 15px;
    margin: 20px auto;
    max-width: 1200px;
    border-radius: 4px;
    position: relative;
    background: #4AE8C1;
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}
header .logo{
    float: right;
    height: 60px;
    color: #000;
    font-size: 36px;
    padding: 0 20px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}
header nav{
    float: left;
}
.clearfix{
    clear: both;
}
header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li{
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}
header nav ul li.sub-menu::before{
    content: '\f0dd';
    font-family: fontAwesome;
    position: absolute;
    line-height: 50px;
    color: #fff;
    left: 5px;
}
header nav ul li.active.sub-menu::before{
    content: '\f0dd';
}
header nav ul li ul{
    left: 0;
    display: none;
    position: absolute;
    border-radius: 4px;
    background: #ffffffe8;
}
header nav ul li.active ul{
    display: block;
}
header nav ul li ul li{
    padding: 5px;
    width: 230px;
    display: block;
    font-size: 16px;
    border-radius: 4px;
}
header nav ul a{
    height: 50px;
    color: #000;
    display: block;
    font-size: 20px;
    padding: 0 20px;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
}
a:hover{
    color: #fff;
    border-radius: 5px;
    background-color: #00A8A4;
}
.menu-toggle{
    float: left;
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #00A8A4;
    line-height: 50px;
}
/* --- ------------- --- */

/* - - - Head - - - */
.head{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 15px;
    z-index: 1;
}
/* - - -      - - - */

/* - - - Pins setting - - - */
/* .1st, .2nd, .3rd, .4th, .5th{
*/

.first-pin, .second-pin,
.third-pin, .forth-pin, .fifth-pin{
    position: absolute;
    user-select: pointer;
    width: 48px;
    height: 48px;
    border: 0px;
    padding: 0px;
    margin: 0px;
    max-width: none;
    z-index: 2;
    -webkit-transition: opacity 100ms linear;
    -moz-transition: opacity 100ms linear;
    -ms-transition: opacity 100ms linear;
    -o-transition: opacity 100ms linear;
    transition: opacity 100ms linear;
} 

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* - - - Pins Location - - - */
.first-pin{
    left: 38%;
    top: 55%;
}
.second-pin{
    left: 50%;
    top: 35%;
}
.third-pin{
    left: 43%;
    top: 35%;
}
.forth-pin{
    left: 59%;
    top: 22%;
}
.fifth-pin{
    left: 58.5%;
    top: 35.8%;
}

.first-pin:hover, .second-pin:hover,
.third-pin:hover, .forth-pin:hover, .fifth-pin:hover
{
    animation: wobble-top 0.5s ease-in-out;
}



/* Popup window */
.bg-modal-1,
.bg-modal-2,
.bg-modal-3,
.bg-modal-4,
.bg-modal-5
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    top: 0;
}
.modal-contant-1,
.modal-contant-2,
.modal-contant-3,
.modal-contant-4,
.modal-contant-5
{
    width: fixed;
    height: fixed;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}
.close-1,
.close-2,
.close-3,
.close-4,
.close-5
{
    top: 0;
    right: 14px;
    font-size: 42px;
    cursor: pointer;
    color: #00A8A4;
    position: absolute;
    transform: rotate(45deg);
}
p{
    margin: 25px;
}
.typePart{
    display: flex;
    margin: 20px;
    justify-content: center;
}
.type{
    display: flex;
    width: 80px;
    height: 100px;
    margin: 10px;
    color: #4AE8C1;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: #4AE8C1 1px solid;
}
.type:hover{
    background: #4AE8C1;
    color: #fff;
}
.modal-contant-1 a,
.modal-contant-2 a,
.modal-contant-3 a,
.modal-contant-4 a,
.modal-contant-5 a{
    text-decoration: none;
}
.modal-contant-1 a span,
.modal-contant-2 a span,
.modal-contant-3 a span,
.modal-contant-4 a span,
.modal-contant-5 a span{
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    background-color: #00A8A4;
}

.cc{
    margin: 10px;
    height: fixd;
    padding: 10px;
    text-align: right;
    border-radius: 5px;
    background-color: #4AE8C1;
}
.cc h2{
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
}
.cc p{
    font-size: 18px;
}
.cc p span{
    font-weight: 700;
}
/* -- footer -- */
footer{
    margin: 10px;
    text-align: center;
}
footer .copyright{
    color: #4AE8C1;
}
/* -- Responsive -- */
@media (max-width: 991px){
    header{
        padding: 0 20px;
        height: 50px;
    }
    .menu-toggle{
        display: block;
    }
    header .logo{
        font-size: 24px;
        line-height: 50px;
    }
    header nav{
        position: absolute;
        width: 100%;
        height: calc(100vh -50);
        background: #00A8A4;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    header nav.active{
        left: 0;
    }
    header nav ul{
        display: flex;
        text-align: center;
        flex-direction: column-reverse;
    }
    header nav ul li a{
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    header nav ul li.active ul{
        position: relative;
        background: #fff;
    }
    header nav ul li ul li{
        width: 100%;
    }
    .content{
        display: none;
    }
}