/* Body Sectiom */
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;   
}
/* ------- */
/* Scroll Bar */
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(#f8f7f8cc, #222222c2);
    border-radius: 6px;
}
/* ------- */
/* Header Section */
header{
    position: absolute;
    height: 100px;
    top: 0;
    left: 0;
    padding: 20px 100px;
    background: #707070;
    width: 100%;
    box-sizing: border-box;
}
header .logo{
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    float: right;
    font-weight: bold;
    font-family: 'Tajawal', sans-serif;
}
header nav{
    float: left;
}
header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
header nav ul li{
    list-style: none;
    position: relative;
}
header nav ul li.sub-menu::before{
    content: '\f0dd';
    font-family: fontAwesome;
    position: absolute;
    line-height: 50px;
    color: #fff;
    left: 5px;
}
header nav ul li.active.sub-menu::before{
    content: '\f0dd';
}
header nav ul li ul{
    position: absolute;
    left: 0;
    background: #333;
    display: none;
}
header nav ul li.active ul{
    display: block;
}
header nav ul li ul li{
    display: block;
    width: 200px;
}
header nav ul a{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
}
/*header nav ul a.active*/
a:hover{
    color: #fff;
    background-color: #363636;
}
.menu-toggle{
    color: #fff;
    float: left;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
/* ------- */
/* Responsive */
@media (max-width: 991px){
    header{
        padding: 0 20px;
        height: 50px;
    }
    .menu-toggle{
        display: block;
    }
    header nav{
        position: absolute;
        width: 100%;
        /* height: calc(100vh - 50px); */
        height: 208px;
        background: #333;
        top: 50px;
        left: -100%;
        transition: 0.5s;
    }
    header nav.active{
        left: 0;
    }
    header nav ul{
        display: flex;
        text-align: center;
        flex-direction: column-reverse;
    }
    header nav ul li a{
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    header nav ul li.active ul{
        position: relative;
        background: #003e6f;
    }
    header nav ul li ul li{
        width: 100%;
    }
}
/* ------- */
.main{
    margin: 0;
    padding: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin-top: 150px; 
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.container .card{
    position: relative;
}
.container .card .face {
    width:  300px;
    height: 200px;
    transition: 0.5s;
}
.container .card .face.face1{
    transform: translateY(100px);
    justify-content: center;
    background: #999999;
    align-items: center;
    position: relative;
    display: flex;
    z-index: 1;
}

.container .card:hover .face.face1{
    background: #D9D9D9;
    transform: translateY(0px);   
}
.container .card .face.face1 .content{
    transition: 0.5s;
    opacity: 0.2;
}
.container .card:hover .face.face1 .content{
    opacity: 1;
}
.container .card .face.face1 .content h3{
    text-align: center;
    color: #000;
    margin: 10px 0 0;
    font-size: 1.5em;
    padding: 0;
}
.container .card .face.face2{
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    background: #fff;
    position: relative;
    display: flex;
    padding: 20px;
}
.container .card:hover .face.face2{
    transform: translateY(0px);
}
.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}
.container .card .face.face2 .content a{
    border: 1px solid #333;
    text-decoration: none;
    display: inline-block;
    margin: 15px 0 0;
    font-weight: 900;
    color: #333;
    padding: 5px;
}
.container .card .face.face2 .content a:hover{
    background: #333333;
    color: #fff;

}
@media (max-width: 430px){
    .container{
        margin-left: 30px; 
        margin-right: 30px;  
        margin-top: 170px;
        flex-direction: column;
    }
}
/* --- ------------ --- */
p{
    float: right;
    text-align: right;
}
p span{
    font-weight: bold;
}
/* --- ------------ --- */